<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951536503300-0m3jopveobqldmqn50rtm3u1sgv7e2f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951536503300-0m3jopveobqldmqn50rtm3u1sgv7e2f1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951536503300-89kd5sjphea9e1uvmql0dqv2ive82iig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu1QVP1ND7-Dn7SlzSbKAgRUmPkNXblqY</string>
	<key>GCM_SENDER_ID</key>
	<string>951536503300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-34921</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-34921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951536503300:ios:54632f965d2ce5073b4351</string>
</dict>
</plist>